body {
  background-color: #e0f7fa;
  margin: 20px;
  text-align: center;
}

h1 {
  color: skyblue;
}
h2,h3 {Color : gray ;}

form {

  background-color: white;
  padding: 22px;
  border-radius: 30px;
  max-width: 450px;
  margin: auto;
}


.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: skyblue;
}

.row label {
  width: 130px;
  font-size: 16px;
  color: #0077b6;
}

.row input,
.row select {
  flex: 1;
  padding: 8px;
  border: 1px solid #0077b6;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #0077b6;
  border-radius: 5px;
}

input[type="Register For Contact"],
input[type="reset"] {
  background-color: #0077b6;
  color: white;
  border: none;
  padding: 30px 15px;
  margin-top: 20 px;
  margin-right: 30px;
  border-radius: 20px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #98a2b0;
}
